{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Match {{ subsession.curr_super_game }}, Round {{ cycle_round_number}} &#8211; Continue?
{% endblock %}

{% block content %}
    <p> The computer rolled a 100-sided die to determine whether the match is over or continues to another round.</p>
    {{if subsession.round_number in session.vars.super_games_end_rounds  }}
        <p>The die roll was <b style="color: darkred">{{ dieroll }}</b>.</p>
        <p>Since the die roll was greater than {{ continuation_chance }}, the match is over.</p>
    {% else %}
        <p>The die roll was <b style="color: darkred">{{dieroll}}</b>.
        <p>Since the die roll was less than or equal to {{ continuation_chance }}, the match continues to another round.</p>
    {%  endif %}


{% next_button %}

{% endblock %}

{% block styles %}
    <style>

.otree-timer {
    display: none;
}

.otree-btn-next {
  float: right;
  margin-left:53.5%;
  margin-right:46.5%;
}
.page-header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
  margin-left:35%;
}
    </style>
{% endblock %}

