{{ block title }}
Summary of earnings
{{ endblock }}

{{ block content }}
<p>Below shows a summary of your earnings in each part.</p>
<h5>Quiz Earning</h5>
<p>You have correctly answered {{quiz_num_correct}} questions. Your earnings from the quiz is
    <b>${{quiz_earning|to2}}</b>.
</p>
<div class="task1">
    <h5>Part 1 Earning</h5>
    <p>Below shows a summary of your earnings in this task. The conversion rate is {{conversion_rate}} points = $1.</p>
    {{if two_game}}
    <div class="flex-container">
        <div class="flex-child magenta" style="background-color: aliceblue">
            <h5 style="color: darkblue; ">Blue Game</h5>
            {{include C.pgg_earnings_template}}
        </div>
        <div class="flex-child green" style="background-color: rgba(90,179,113,0.1)">
            <h5 style="color: darkolivegreen">Green Game</h5>
            {{include C.pd_earnings_template}}
        </div>
    </div>
    <br>
    <p>Your total earnings in Part 1 is therefore {{task1_earnings|to1}} and your payment for Part 1 is <b>{{task1_payment}}</b>.
    </p>
    {{elif pd_only}}
    <div>
        {{include C.pd_earnings_template}}
    </div>
<p>Your payment for Part 1 is <b>{{task1_payment}}</b>.</p>
    {{else}}
    <div>
        {{include C.pgg_earnings_template}}

    </div>
    <p>Your payment for Part 1 is <b>{{task1_payment}}</b>.</p>
    {{endif}}

</div>

<h5>Part 2 Earning</h5>
<p>You chose option {{participant.chosen_gamble}}. The random number was {{participant.random_num_gamble}}.

    So your payment for Part 2 is <b>${{gamble_payment|to2}}</b>.
</p>

<h4>Total</h4>
<u><p>Your final payment {{if not two_game}} including the {{participation_fee}} show-up fee{{endif}} is <span
        style="font-weight: bold; font-size: larger;background: papayawhip">${{payment}}</span>(rounded up to the
    nearest quarter).</p></u>

<div class="Final Instruction">
    We will start payments shortly. Please wait quietly at your seat and fill in the paymemt log on your desk.
    <br> You will be paid at your seat in cash. You may leave the room once you get paid.
</div>

<style>
    .flex-container {
        display: flex;
        height: auto;
    }

    .flex-child {
        flex: 1;
        padding: 15px 15px 0px 15px;
        border: 2px solid black;
        border-radius: 25px;
    }

    .flex-child:first-child {
        margin-right: 20px;
    }
</style>
{{ endblock }}


